{% extends "base/dasboard.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <form action="/transactions/save" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="">
                        {{form.member.label}}
                    </label>
                    {{form.member}}
                </div>
                <div class="form-group">
                    <label for="">
                        {{form.sales.label}}
                    </label>
                    {{form.sales}}
                </div>
                <div class="form-group">
                    <label for="">
                        {{form.payment_method.label}}
                    </label>
                    {{form.payment_method}}
                </div>
                <div class="form-group">
                    <label for="">
                        {{form.card_number.label}}
                    </label>
                    {{form.card_number}}
                </div>
                <div class="form-group">
                    <a href="" class="btn btn-warning" style="color: aliceblue;">Cancel</a>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>
{% endblock content %}