{% extends "base/dasboard.html" %}
{% block content %}
  <div class="row" style="padding-top: 25px;">
    <div class="col-12">
    </div>
  </div>
  <div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
              <h3 class="card-title" style="color: aliceblue;">Transactions</h3>
              <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
    
                  <div class="input-group-append">
                    <button type="submit" class="btn btn-default">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
              <table class="table table-bordered">
                <thead>
                  <tr role="row" >
                    <th class="sorting sorting_asc" style="text-align: center;">Customer</th>
                    <th class="sorting sorting_asc" style="text-align: center;">Employee</th>
                    <th class="sorting sorting_asc" style="text-align: center;">Payment Method</th>
                    <th class="sorting sorting_asc" style="text-align: center;">Customer Purchase</th>
                    <th class="sorting sorting_asc" style="text-align: center;">Date</th>
                    <th class="sorting sorting_asc" style="text-align: center;"></th>
                  </tr>
                </thead>
                <tbody>
                  {% for t in data %}
                  <tr>
                    <td style="text-align: center;">{{t.member}}</td>
                    <td style="text-align: center;">{{t.employee}}</td>
                    <td style="text-align: center;">{{t.payment_method}}</td>
                    <td style="text-align: center;">{{t.customer_purchase}}</td>
                    <td style="text-align: center;">{{t.create_at}}</td>
                        <td>
                            <a href="/transactions/{{t.id}}/detail_transaction" class="btn btn-secondary">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                            <a href="/transactions/{{t.id}}/edit" class="btn btn-info">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="/transactions/{{t.id}}/delete" class="btn btn-danger">
                                <i class="far fa-trash-alt"></i>
                            </a>
                        </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <div>
                <ul class="pagination">
                  {% if  trans.has_previous %}
                    <li class="page-item">
                      <a href="?page={{trans.number|add:'-1'}}" class="page-link">Previous</a>
                    </li>
                    {% for i in page.page_range %}
                      {% if i == trans.number %}
                      <li class="paginate_button page-item active">
                        <a href="?page={{i}}" class='page-link '>{{i}}</a>
                      </li>
                      {% else %}
                      <li class="paginate_button page-item">
                        <a href="?page={{i}}" class='page-link'>{{i}}</a>
                      </li>
                      {% endif %}
                    {% endfor %}
                    {% if trans.has_next %}
                      <li class="paginate_button page-item">
                        <a href="?page={{trans.number|add:'+1'}}" class='page-link '>Next</a>
                      </li>
                    {% else %}
                      <li class="paginate_button page-item disabled">
                        <a href="" class='page-link '>Next</a>
                      </li>
                    {% endif %}
                  {% else %}
                  <li class="page-item disabled">
                    <a href="" class="page-link">Previous</a>
                  </li>
                  {% for i in page.page_range %}
                      {% if i == trans.number %}
                      <li class="paginate_button page-item active">
                        <a href="?page={{i}}" class='page-link '>{{i}}</a>
                      </li>
                      {% else %}
                      <li class="paginate_button page-item">
                        <a href="?page={{i}}" class='page-link'>{{i}}</a>
                      </li>
                      {% endif %}
                    {% endfor %}
                    {% if trans.has_next %}
                      <li class="paginate_button page-item">
                        <a href="?page={{trans.number|add:'+1'}}" class='page-link '>Next</a>
                      </li>
                    {% else %}
                      <li class="paginate_button page-item disabled">
                        <a href="?page={{trans.number|add:'+1'}}" class='page-link '>Next</a>
                      </li>
                  {% endif %}
                {% endif %}
                </ul>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
    </div>
  </div>
{% endblock content %}