{% load static %}
<!-- <link rel="stylesheet" href="{% static 'vendors/bootstrap/css/bootstrap.min.css' %}"> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!-- Adminlte css -->
<!-- Goole font -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Theme style -->
<link rel="stylesheet" href="{% static 'vendors/adminlte/css/adminlte.min.css' %}">
<!-- Font Aweome icons -->
<link rel="stylesheet" href="{% static 'vendors/fontawesome-free/css/all.min.css' %}">
<!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"> -->
