 {% load static %}
 <!-- Main Sidebar Container -->
 <nav class="mt-2">
  <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <li class="nav-item">
      <a href="/items" class="nav-link">
        <i class="nav-icon fas fa-box"></i>
        <p>
          Items
          <i class="right fas fa-angle-left"></i>
        </p>
      </a>
      <ul class="nav nav-treeview">
        <li class="nav-item">
          <a href="/items" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>All</p>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a href="/items" class="nav-link">
        <i class="nav-icon far fa-user"></i>
        <p>
          Users
          <i class="right fas fa-angle-left"></i>
        </p>
      </a>
      <ul class="nav nav-treeview">
        <li class="nav-item">
          <a href="/accounts/sales" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Sales</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/accounts" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Customer</p>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a href="/items" class="nav-link">
        <i class="nav-icon far fa-clipboard"></i>
        <p>
          Transactions
          <i class="right fas fa-angle-left"></i>
        </p>
      </a>
      <ul class="nav nav-treeview">
        <li class="nav-item">
          <a href="/transactions" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>In</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/transactions/out" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Out</p>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a href="/transactions/payment" class="nav-link">
        <i class="nav-icon fas fa-credit-card"></i>
        <p>
          Payment Methods
        </p>
      </a>
    </li>
    <li class="nav-header">MISCELLANEOUS</li>
  </ul>
</nav>