 {% load static %}
 <!-- Main Sidebar Container -->
 <nav class="mt-2">
  <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <li class="nav-item">
      <a href="/items" class="nav-link">
        <i class="nav-icon fas fa-box"></i>
        <p>
          Items
          <i class="right fas fa-angle-left"></i>
        </p>
      </a>
      <ul class="nav nav-treeview">
        <li class="nav-item">
          <a href="/list_pendaftar" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Pendaftar</p>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a href="/transactions" class="nav-link">
        <i class="nav-icon far fa-clipboard"></i>
        <p>
          Transactions
        </p>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="nav-icon far fa-user"></i>
        <p>
          User
        </p>
      </a>
    </li>
    <li class="nav-header">MISCELLANEOUS</li>
  </ul>
</nav>