{% extends "base/dasboard.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-8"></div>
                        <div class="col">
                            <div class="card-tools">
                                <form action="">
                                    <div class="input-group">
                                        {{srch.search}}
                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-default">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card card_item">
                        <div class="card-header color">
                            <img src="{{items.item_img.url}}" alt="" class="img_item">
                        </div>
                        <div class="card-body">
                            <form action="">
                                {% csrf_token %}
                                <h2 style="text-align: center;">{{items.name}}</h2>
                                <h3 style="text-align: center;">Rp.{{items.price}}</h3>
                                <p>Quantity
                                    {{form.quantity}}
                                </p>
                                <button type="submit" class="btn btn-success">Add to Chart</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}