{% extends "base/base.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <div class="container">
            <p>
                {{items.id}}
            </p>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <img src="{{items.item_img.url}}" alt="">
                    </div>
                </div>
                <div class="col">
                    <form action="save/{{obj.id}}/{{items.id}}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <p>Quantity</p>
                            {{form.quantity}}
                         </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-info">Pesan</button>
                        </div>
                    </form>   
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="container" style="padding-top: 25px;">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    <a href="" class="btn btn-info" style="margin-left: 75%;">+</a>
                    <p>
                        id: {{obj.id}}
                    </p>
                    <p>
                        sales: {{obj.sales}}
                    </p>
                    <p>
                      order at:  {{obj.create_at}}
                    </p>
                </div>
                <div class="col-3"></div>
            </div>
            <div class="row" style="padding-top: 12px;">
                <div class="col-3">
                </div>
                <div class="col-6">
                    <h1>List Order</h1>
                    <div class="row">
                        <div> 
                            <table class="table">
                                <thead>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                </thead>
                                <tbody>
                                    {% for d in dt %}
                                        <tr>
                                            <td>
                                                {{d.detail_item.name}}
                                            </td>
                                            <td>
                                                {{d.detail_item.price}}
                                            </td>
                                            <td>
                                                {{d.quantity}}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div>
                            <table class="table">
                                <thead>
                                    <th>total</th>
                                </thead>
                                <tbody>
                                    {% for t in total %}
                                      <tr>
                                          <td>
                                              {{t}}
                                          </td>
                                      </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                </div>
            </div>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    <div class="form-group">
                        <h4>
                            total items: {{t_i}}
                        </h4>
                        <h4>
                            billing: {{t_p}}
                        </h4>
                    </div>
                    <div class="form-group" style="margin-left: 50%;">
                        <a href="/transactions" class="btn btn-warning">Back</a>
                        <a href="{{obj.id}}/pay" class="btn btn-info">Bayar</a>
                    </div>
                </div>
                <div class="col-3">
                    
                </div>
            </div>
        </div>
    </div>
</div>
  
{% endblock content %}