{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Resto | Register </title>
  {% include "base/css.html" %}
  {% include "base/js.html" %}
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col"></div>
      <div class="col" style="padding-top: 55px;">
        <form action="" method="post">
          <h2 style="text-align: center;">Register</h2>
          {% csrf_token %}
          <div class="form-group">
            <label for="">
              {{form.username.label}}
            </label>
            {{form.username}}
          </div>
          <div class="form-group">
            <label for="">
              {{form.first_name.label}}
            </label>
            {{form.first_name}}
          </div>
          <div class="form-group">
            <label for="">
              {{form.last_name.label}}
            </label>
            {{form.last_name}}
          </div>
          <div class="form-group">
            <label for="">
              {{form.email.label}}
            </label>
            {{form.email}}
          </div>
          <div class="form-group">
            <label for="">
              {{form.member_card.label}}
            </label>
            {{form.member_card}}
          </div>
          <div class="form-group">
            <label for="">
              {{form.password.label}}
            </label>
            {{form.password}}
          </div>
          <div class="form-group">
            <label for="">
              {{form.password2.label}}
            </label>
            {{form.password2}}
          </div>
          <div class="form-group">
            <a href="" class="btn-lg btn-info" style="padding: 0.5rem 9.3rem;
            font-size: 1.25rem;
            line-height: 2.5;
            border-radius: 1.3rem;">Register</a>
            <a href="/login" class="btn-lg btn-danger" style="padding: 0.5rem 10.3rem;
            font-size: 1.25rem;
            line-height: 2.5;
            border-radius: 1.3rem;">Back</a>
          </div>
        </form>
      </div>
      <div class="col"></div>
    </div>
  </div>
  
</body>
</html>