{% extends "base/dasboard.html" %}
{% block content %}
<div class="row" style="padding-top: 25px;">
    <div class="col-12">
        <a href="/accounts/sales/add" style="margin-left: 95%; margin-bottom: 10px;" class="btn btn-success">
            <i class="fas fa-plus"></i>
        </a>
    </div>
  </div>
<div class="card">
    <div class="card-header">
      <h3 class="card-title" style="color: aliceblue;">Sales</h3>
      <div class="card-tools">
        <div class="input-group input-group-sm" style="width: 150px;">
          <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
          <div class="input-group-append">
            <button type="submit" class="btn btn-default">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body table-responsive p-0">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>User</th>
            <th>Address</th>
            <th>NIK</th>
            <th>Photo</th>
            <th>Create at</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
            {% for o in sales %}
            <tr>
                <td>{{o.user}}</td>
                <td>{{o.address}}</td>
                <td>{{o.nik_numb}}</td>
                <td>
                  <img src="{{o.ktp_image.url}}" alt="" id="img_card">
                </td>
                <td>{{o.create_at}}</td>
                <td>
                    <a href="/accounts/sales/{{o.id}}/edit" class="btn btn-info">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="/accounts/sales/{{o.id}}/delete" class="btn btn-danger">
                        <i class="far fa-trash-alt"></i>
                    </a>
                </td>
          </tr>
            {% endfor %}
        </tbody>
      </table>
      <div>
        <ul class="pagination">
            {% if  sales.has_previous %}
              <li class="page-item">
                <a href="?page={{sales.number|add:'-1'}}" class="page-link">Previous</a>
              </li>
              {% for i in page.page_range %}
                {% if i == sales.number %}
                <li class="paginate_button page-item active">
                  <a href="?page={{i}}" class='page-link '>{{i}}</a>
                </li>
                {% else %}
                <li class="paginate_button page-item">
                  <a href="?page={{i}}" class='page-link'>{{i}}</a>
                </li>
                {% endif %}
              {% endfor %}
              {% if sales.has_next %}
              <li class="paginate_button page-item">
                <a href="?page={{sales.number|add:'+1'}}" class='page-link '>Next</a>
              </li>
              {% else %}
              <li class="paginate_button page-item disabled">
                <a href="" class='page-link '>Next</a>
              </li>
              {% endif %}
            {% else %}
            <li class="page-item disabled">
              <a href="" class="page-link">Previous</a>
            </li>
            {% for i in page.page_range %}
                {% if i == sales.number %}
                <li class="paginate_button page-item active">
                  <a href="?page={{i}}" class='page-link '>{{i}}</a>
                </li>
                {% else %}
                <li class="paginate_button page-item">
                  <a href="?page={{i}}" class='page-link'>{{i}}</a>
                </li>
                {% endif %}
              {% endfor %}
              {% if sales.has_next %}
                <li class="paginate_button page-item">
                  <a href="?page={{sales.number|add:'+1'}}" class='page-link '>Next</a>
                </li>
              {% else %}
                <li class="paginate_button page-item disabled">
                  <a href="?page={{sales.number|add:'+1'}}" class='page-link '>Next</a>
                </li>
            {% endif %}
          {% endif %}
          </ul>
    </div>
    </div>
    <!-- /.card-body -->
  </div>
{% endblock content %}