{% extends "base/dasboard.html" %}
{% block content %}
<a href="/items/add" class="btn btn-warning" style="margin-left: 80%; color: aliceblue;">+</a>

<div class="container">
    {% for o in items %}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="card card_custom">
                <div class="row">
                    <div class="col-4">
                        <img src="{{o.item_img.url}}" alt="" id="img_card">
                        <div style="padding-top: 3px;">
                            <h5 id="price_label" >Rp.{{o.price}}</h5>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row card-body">
                            <h5 class="card-title" style="    margin-left: 21%;
                            font-weight: bold;">{{o.name}}</h5>
                        </div>
                        <div style="padding-top: 9px;">
                            {{o.description}}
                        </div>
                        <div>
                            
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group" id="card_button">
                            <div>
                                <a href="/items/edit/{{o.id}}" class="btn btn-primary">
                                    <i class="bi bi-pencil-square"></i>
                                </a> 
                                <a href="/items/delete/{{o.id}}" class="btn btn-danger">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
    {% endfor %}
    <div>
        <ul class="pagination">
            {% if  data.has_previous %}
              <li class="page-item">
                <a href="?page={{trans.number|add:'-1'}}" class="page-link">Previous</a>
              </li>
              {% for i in page.page_range %}
                {% if i == data.number %}
                <li class="paginate_button page-item active">
                  <a href="?page={{i}}" class='page-link '>{{i}}</a>
                </li>
                {% else %}
                <li class="paginate_button page-item">
                  <a href="?page={{i}}" class='page-link'>{{i}}</a>
                </li>
                {% endif %}
              {% endfor %}
              {% if data.has_next %}
              <li class="paginate_button page-item">
                <a href="?page={{trans.number|add:'+1'}}" class='page-link '>Next</a>
              </li>
              {% else %}
              <li class="paginate_button page-item disabled">
                <a href="" class='page-link '>Next</a>
              </li>
              {% endif %}
            {% else %}
            <li class="page-item disabled">
              <a href="" class="page-link">Previous</a>
            </li>
            {% for i in page.page_range %}
                {% if i == data.number %}
                <li class="paginate_button page-item active">
                  <a href="?page={{i}}" class='page-link '>{{i}}</a>
                </li>
                {% else %}
                <li class="paginate_button page-item">
                  <a href="?page={{i}}" class='page-link'>{{i}}</a>
                </li>
                {% endif %}
              {% endfor %}
              {% if data.has_next %}
                <li class="paginate_button page-item">
                  <a href="?page={{trans.number|add:'+1'}}" class='page-link '>Next</a>
                </li>
              {% else %}
                <li class="paginate_button page-item disabled">
                  <a href="?page={{trans.number|add:'+1'}}" class='page-link '>Next</a>
                </li>
            {% endif %}
          {% endif %}
          </ul>
    </div>
</div>
  
{% endblock content %}
