{% extends "base/dasboard.html" %}
{% block content %}
<a href="/items/add" class="btn btn-warning" style="margin-left: 80%; color: aliceblue;">+</a>

<div class="container">
    {% for o in obj %}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="card card_custom">
                <div class="row">
                    <div class="col-4">
                        <img src="{{o.item_img.url}}" alt="" id="img_card">
                        <div style="padding-top: 3px;">
                            <h5 id="price_label" >Rp.{{o.price}}</h5>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row card-body">
                            <h5 class="card-title" style="    margin-left: 21%;
                            font-weight: bold;">{{o.name}}</h5>
                        </div>
                        <div style="padding-top: 9px;">
                            {{o.description}}
                        </div>
                        <div>
                            
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group" id="card_button">
                            <div>
                                <a href="#" class="btn btn-primary">
                                    <i class="bi bi-pencil-square"></i>
                                </a> 
                                <a href="#" class="btn btn-danger">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
    {% endfor %}
</div>
  
{% endblock content %}
